*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
    scroll-behavior: smooth;
}

body
{
    color: #ededed;
    background: #081b29;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #051129;
}

.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover
{
    color: #0ef;

}

/* Style for selected navigation item */
.selected {
    background-color: #00a884;
}

.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./home_cover.png) no-repeat;
    block-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content
{
    min-width: 600dp;
}

.home-content h3
{
    font-size: 32px;
    font-weight: 700;
}

.home-content h1
{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p{
    font-size: 20px;
}

.home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover
{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box
{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover
{
    
    box-shadow: 0 0 20px #0ef;
    cursor: pointer;
}


/*about me */

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    }
    
    .about-img img{
    padding-bottom: 5%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    }
    
    .about-text h2{
    font-size: 60px;
    }
    
    .about-text h2 span{
    color:#0ef;
    }
    
    .about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
    }
    
    .about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    }
    
    /* ####### */

    /* SERVICES */
    #services{
      color: aliceblue; 
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 4rem;
      padding-top: 0px;
      }
      
      
    .sub-title {
        width: 100%;
        justify-content: center;
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
    }
    
    
    .sub-title span{
      color:#0ef
    }
    
    
    .service-container{
      padding: 100px 60px 60px 60px;
    }
    
    
    .services-list{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
    }
    
    
    .services-list div{
      border-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #012290F7, 
    1px 1px 40px #0053B8F7
    }
    
    
    .services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    }
    
    .services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    }

    .services-list div p{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        }
    
    .services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    }
    
    
    .read{
    display: inline-block;
    padding: 12px 28px;
    background:#0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    }
    
    
    .read:hover{
        
    box-shadow: 0 0 10px #0ef;
    }
    
    
    .services-list div:hover{
      transform: translateY(-3px);
    }
      /* SERVICES SECTION END */
      /* ######################################################################## */
      /* SKILLS */

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 80px 20px 20px 0px;
        align-items: center;
        justify-content: center;
    }
    section#skills {
        padding: 0px 0px 0px 60px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        text-align: center; 
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .title-word1 {
        font-size: 60px;
        color: #fff; /* Different color for "My" */
    }
    .title-word2 {
        font-size: 60px;
        color: #48dbfb; /* Different color for "Skills" */
    }
    .skills {
        display: flex;
        grid-template-columns: repeat(6, 1fr);
        gap: 0px;
        list-style: disc;
        padding: 0;
        margin: 0;
    }
    .skill {
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }
    .skill::before {
        content: "\2022";
        color: #00a884; /* Grey color for bullet points */
        font-size: 60px;
        margin-right: 10px;
    }
    .skill-text {
        font-size: 23px;
        text-align: left;
        /* color: lightcyan; */
        color: silver;
    }

    /* ########################################################################### */
    /* PROJECTS */
    #projects{
        padding-top: 20px;
    }


    .main-text{
        padding-top: 20px;
        margin-top: 80px;
    }

    .main-text h2{
        font-size: 60px;
        line-height: 1;
        text-align: center;
    }

    .main-text h2 span{
        color: #0ef;
    }

    .portfolio-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(359px, auto));
    }

    .row{
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        cursor: pointer;
    }

    .row img{
        width: 100%;
        border-radius: 8px;
        display: block;
        transition: transform 0.5s;
    }

    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.1),#0ef);
        position: absolute;
        border-radius: 8px;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 40px;
        transition: height 0.5s;
    }

    .layer h5{
        color: #000;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .layer p{
        color: #000;
        font-size: 1rem;
        line-height: 1.8;
    }

    .layer i{
        color: #ff004f;
        margin-top: 20px;
        font-size: 20px;
        background: #fff;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .row:hover img{
        transform: scale(1.1);
    }

    .row:hover .layer{
        height: 100%;
    }





     /* ################################################################### */
    /* CONTACT  */
    .contact{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 3rem;
        padding-left: 30px;
        margin-top: 130px;
    }

    .contact-text h2{
        font-size: 90px;
        line-height: 1;
        text-align: center;
    }

    .contact-text h2 span{
        color: #0ef;
    }

    .contact-text h4{
        font-size: 20px;
        margin: 15px 0;
        color: rgb(228, 228, 228);
        font-weight: 600;
    }

    .contact-text p{
        font-size: 20px;
        margin-bottom: 2rem;
        color: rgb(177, 177, 177);
        line-height: 30px;
    }

    .contact-list{
        margin-bottom: 3rem;
    }

    .contact-list li{
        margin-bottom: 10px;
        font-size: 30px;
        display: block;
    }

    .contact-list i{
        display: inline-block;
        color: #0ef;
        font-size: 30px;
        font-weight: 600;
        transition: all .40s ease;
    }

    .contact-list li a:hover{
        transform: scale(1.01) translateY(-5px);
        color: #0ef;
    }

    .contact-icons i{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #0ef;
        border-radius: 50%;
        font-size: 20px;
        color: #0ef;
        text-decoration: none;
        margin: 30px 15px 30px 0;
        transition: .1s ease;
    }

    .contact-icons i:hover{
        background: #0ef;
        color: #000;
        box-shadow: 0 0 20px #0ef;
    }

    .contact-form form{
        position: relative;
    }

    .contact-form form input, form textarea{
        border: none;
        outline: none;
        width: 90%;
        padding: 18px;
        background: #555557;
        color: #000;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        border: 2px solid darkgray;
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
    }

    .contact-form textarea{
        resize: none;
        height: 220px;
    }

    ::placeholder{
        color: lightgray;
    }

    .contact-form form .send{
        display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 20px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border-width: 0px;
    transition: background-color 0.2s ease;
    }

    .contact-form form .send:hover{
        cursor: pointer;
        background: linear-gradient(to right, #005bea, #00c6fb);
    }

    .last-text p{
        width: 100%;
        text-align: center;
        padding: 15px 0;
        background: rgb(7, 85, 91);
        font-weight: 300;
        margin-top: 20px;
    }

    .top{
        position: fixed;
        bottom: 2.1rem;
        right: 2.1rem;
    }

    .top i{
        color: #000;
        background: #0ef;
        font-size: 20px;
        padding: 10px;
        border-radius: 0.5rem;
    }




    /* #################################################################### */
    /* Snackbar styles */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}




/* Toast styles */
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    transition: visibility 0s, transform 0.5s, opacity 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-50px);
}

