.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(../images/main/home_cover.png) no-repeat;
    block-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content
{
    min-width: 600dp;
}

.home-content h3
{
    font-size: 27px;
    font-weight: 700;
}

.home-content h1
{
    font-size: 48px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p{
    font-size: 22px;
}

.home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover
{
    background: #0ef;
    color: #081b29;
    /* box-shadow: 0 0 20px #0ef; */
}

.btn-box
{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover
{
    
    box-shadow: 0 0 10px #0ef;
    cursor: pointer;
}

.tools-container{
    width: 100%; 
    display: inline-block; 
    margin-top: 20px; 
    justify-content: left;
}
