#myprojects {
    max-width: 800px;
    margin: 0px auto;
    padding: 60px 20px 20px 20px;
     /* White container background */
    /* background-color: #192a56; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}
#title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;/* Dark gray text color */
}
#projects {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.row-title {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    color: #BFBFBF; /* Medium gray title color */
}
.row-description {
    margin-bottom: 10px;
    font-style: italic;
    color: #777; /* Light gray description color */
    text-align: left;
    width: 100%;
}
.project {
    width: calc(33.33% - 10px); /* 33.33% width with some margin between */
    margin: 0 5px; /* Adjust margin as needed */
    text-align: center;
    margin-bottom: 20px;
}
.project img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    max-height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.project p {
    color: #777; /* Light gray description color */
    display: none; /* Hide the description */
}